.root {
    -fx-background-color: #000000;
}

/* Labels */

.label-form {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Campos */

.campo {
    -fx-background-color: transparent;

    -fx-border-color: #6c6c6c;
    -fx-border-width: 1;

    -fx-border-radius: 20;
    -fx-background-radius: 6;

    -fx-text-fill: white;

    -fx-pref-height: 34;

    -fx-padding: 0 10 0 10;
}

.campo:focused {
    -fx-border-color: #9a9a9a;
}

.imagem-produto{
    -fx-background-color: black;

    -fx-text-fill: white;
    -fx-font-size: 14px;

    -fx-background-radius: 20;

    -fx-padding: 8 32 8 32;
    -fx-translate-y: 0;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-color: gray;
    -fx-border-radius: 20;
}
.imagem-produto:hover{
    -fx-background-color: red;
}



/* Botão Voltar */

.btn-voltar {
    -fx-background-color: black;

    -fx-text-fill: white;

    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-padding: 6 22 6 22;
    -fx-font-size: 14px;

    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.btn-voltar:hover{
    -fx-background-color: red;
}

/* Botão Salvar */

.btn-salvar {
    -fx-background-color: #ff1a1a;

    -fx-text-fill: white;
    -fx-font-size: 14px;

    -fx-background-radius: 20;

    -fx-padding: 8 32 8 32;
    -fx-translate-y: 462;
    -fx-translate-x: 624;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.btn-salvar:hover{
    -fx-background-color: black;
}

