
.root {
    -fx-background-color: white;
    -fx-font-family: Arial;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.btn-voltar {

    -fx-background-color: transparent;

    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-text-fill: black;

    -fx-pref-width: 95;
    -fx-pref-height: 32;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.btn-adicionar {

    -fx-background-color: #d50000;

    -fx-background-radius: 20;

    -fx-text-fill: black;

    -fx-pref-width: 180;
    -fx-pref-height: 35;
}

.card-produto {
    -fx-alignment: center-left;

}

.nome-produto {

    -fx-text-fill: black;

    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.disponivel {

    -fx-text-fill: #d50000;

    -fx-font-size: 10px;
}

.preco {

    -fx-text-fill: black;

    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.btn-editar {

    -fx-background-color: #d50000;

    -fx-text-fill: white;

    -fx-background-radius: 60;

    -fx-font-size: 8px;

    -fx-pref-width: 35px;
    -fx-pref-height: 15px;
    -fx-translate-x: -5;
    -fx-font-weight: bold;
}
.btn-editar:hover {
    -fx-background-color: black;
}


.btn-voltar:hover {
    -fx-background-color: #ff2b2b ;
}

.btn-adicionar{
    -fx-background-color: #ff2b2b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-border-color: black;
    -fx-border-radius: 20;
}
.btn-adicionar:hover {
    -fx-background-color: black;
}